/* .{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
} */
body{
  background-color: rgb(188, 216, 248);
  margin: 0%;
}
.headerBody{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border: 1px solid black;
 padding: 10px;
 background-color: rgb(166, 166, 215);
}
.head{
  color: rgb(225, 11, 11);
}
.cart button{
  background-color: rgb(48, 48, 218);
  color: white;
}
.cart button:hover{
  background-color: rgb(92, 126, 239);
  color:black
}
h2{
  margin: 0%;
  text-align: center;
  margin-bottom: 5px;
}
.bannerBox img{
  width: 100%;
}
.collectionSection img{
  height: 180px;
  justify-items:center;  
  width: 16.66%;
 
}
.footerComp img{
  width: 100%;
}
